body{
    background-image: url(media/bg_1.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: Helvetica;
    min-height: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    margin-top: 30px;
}
.logo_right{
    margin-top: 20px;
    width: 40%;
    position: absolute;
    right: 20px;
    top: 0px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.button{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 20px;
    border: 3px solid #4A4A4A;
    background-color: #fff;
    color: #4A4A4A;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #4A4A4A;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    bottom: 0px;
}
.some{
    width: 30px;
margin: 5px;
}
#margin_top{
       margin-top: 35px;
}
text{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hours{
    font-size: 10pt;
}
.opening{
    margin: 10px 0px 0px 0px;
}

.event_box{
    margin: 0px 30px;
    margin-bottom: 20px;
}
.border_bottom{
    border-bottom: 2px solid #4A4A4A;
}
.interactive_box{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.event{
    width: 100%;
    border-radius: 40px;
}
.events{
    text-align: center;
}
.events_description{
    width: 70%;
    text-align: left;
    justify-content: center;
    display: flex;
}
.wheel_description{
    text-align: center;
    font-size: 18pt;
}
.wheel_box{
    margin: 0px 20px;
}
.right{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #fff;
}
a{
  text-decoration: none;
}
.footer_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    z-index: 2;
}
#footer_margin{
    position: absolute;
    margin-bottom: -180px;
}
#footer_margin_2{
    position: absolute;
    margin-bottom: -220px;
}
.scanner-cam {
  border: 10px solid #fff;
    border-radius: 50px;
  width: 350px;
  height: 350px;
    margin: 10px 10px 20px 10px;
}
.scanner{
    display: flex;
    justify-content: center;
}
}
.scanner-cam--scanned {
  border-color: green;
}
#preview{
    border: 10px solid #fff;
    width: 70%;
    height: 100%;
    margin: 20px 0px 30px 0px;
    border-radius: 30px;
}
.welcome{
    color: #4A4A4A;
    margin-bottom: 5px;
}
.left{
    color: #4A4A4A;
    text-align: left;
    font-size: 14pt;
    margin: 15px;
}
.white_box{
    background-color: #fff;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: column;
}
.center{
    text-align: center;
}
#center{
    margin-top: 11%;
}
 #chart{
        position:absolute;
        width: 300px;
        height: 300px;
        top: 300px;
        left: 55%;
     margin-left: -150px;
    }
    #question{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 500px;
        left: 35px;
    }
    #question h1{
        font-size: 40px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 170px;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
        text-align: center;
    }
path{

}
circle{
    border: 15px solid #000;
}
.interactive_text{
    margin-top: 100px;
}
.interactive_description{
    text-align: center;
    font-size: 14pt;
    margin: 20px 30px;
}
.margin{
    margin: 0px 20px;
}
.answers{
    display: flex;
    flex-direction: column;
}
.answer{
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 0px;
    text-align: left;
    font-size: 12pt;
}
.bottom{
    margin-bottom: 30px;
}
.size{
    font-size: 14pt;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -177px;
  left: 70px;
  padding: 20px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* alex code starts here */

.event1_box {
    text-align: center;
}

.event1_link {
    color: white;
}

.event1_img {
    margin-top: 20px;
    max-width: 90%;
}

.white_bg {
    z-index: -1;
    width: 100%;
    height: auto;
}

.info_box {
    margin-left: 60px;
    margin-top: 30px;

}

.bg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    transform: translateY(-600px);
    z-index: -99;
}

.map {
    display: flex;
    margin: 0 auto 0 auto;
    width: 250px;
    height: 300px;
}

.event_txt {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.event_desc {
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-bottom: 5px;
}

.calendar {
    width: 6%;
    height: auto;
}

.fb_event {
    width: 10%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 1px;
}

.join {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    justify-content: center;
    font-weight: bold;
}

/* alex code starts here */

.event1_box {
    text-align: center;
}

.event1_link {
    color: white;
}

.event1_img {
    margin-top: 20px;
    max-width: 90%;
}

.white_bg {
    z-index: -1;
    width: 100%;
    height: auto;
}

.info_box {
    margin-left: 60px;
    margin-top: 30px;

}

.bg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    transform: translateY(-600px);
    z-index: -99;
}

.map {
    display: flex;
    margin: 0 auto 0 auto;
    width: 250px;
    height: 300px;

}

.event_txt {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.event_desc {
    border-style: solid;
    border-width: 0 0 2px 0;
    padding-bottom: 5px;
}

.calendar {
    width: 6%;
    height: auto;
}

.fb_event {
    width: 10%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 1px;
}

.join {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    justify-content: center;
    font-weight: bold;
}
